.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}

.loadingDot {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 50%;
}
